{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ask Me Anything My Brudda - Page Five</title>
    <link rel="stylesheet" href="{% static 'yahseno/styles.css' %}">
</head>
<body>
    <h1>Q&A Time!!! Ask Us Anything 🏀🐗</h1>

    <form method="POST">
        {% csrf_token %}
        <label for="question">Submit A Question in the box below plzzz:</label><br>
        <textarea name="question" rows="5" cols="60" required></textarea><br><br>
        <button type="submit">🏀🐗Submit Question Boi🏀🐗 </button>
    </form>

    <hr>

    <h1>⛹️Answers⛹️:</h1>
    {% for q in questions %}
        <div style="margin-bottom: 1rem;">
            <strong>Q:</strong> {{ q.question_text }}<br>
            {% if q.answer_text %}
                <strong>A:</strong> {{ q.answer_text }}
            {% else %}
                <em>Answers will be here shortly ma boi</em>
            {% endif %}
        </div>
    {% empty %}
        <p>Answers will be here shortly :) </p>
    {% endfor %}

    <br>

<br>
</body>
</html>

<body>
    <h1>Examples of a Ball Hog🏀🐗</h1>
    <br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Pk8fkNaTNvQ?si=px3HCIfRSQ6084EQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <img class="download" src="{% static 'yahseno/download.jpg' %}" alt="one of my projects!!!!" height="315">
    <br><br><br>
    {% autoescape off%}
    {{ plot_div }}
    {% endautoescape %}

<br><br><br>
<a href="/">Back to Home🏀🐗</a>