body {
    font-family: arial;
    background-color: #FFFFFF;
    color: #FF6E00;
    text-align: center;
}

.selfie {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

a.link {
    color: #FF6E00;
    text-decoration: none;
    font-weight: bold;
}

a.link:hover {
    text-decoration: underline;
}

a {
    color: #FF6E00; /* Change this to any color you want */
    text-decoration: none; /* Removes underline */
    font-weight: bold;
}

a:hover {
    color: #FF944D; /* Color when mouse hovers */
    text-decoration: underline;
}

.proj1 {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.pc {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.weather {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.pcep {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.download {
    height: 315px;
    margin-left: 50px;
}
